## What is Pandas ?
  
Pandas is a software library written for the python programming language
for data **manipulation and analysis.**

* Pandas is built on top of the NumPy package, meaning a lot of the structure of NumPy is used or replicated in Pandas.
* Data in pandas is often used to feed statistical analysis in SciPy, plotting functions from Matplotlib, and machine learning algorithms in Scikit-learn.
* The primary two components of pandas are the **Series and DataFrame**

## Importing  required libraries

In [18]:
import numpy as np
print('numpy version : ', np.__version__)

import pandas as pd
print('pandas version : ', pd.__version__)

from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

numpy version :  1.24.4
pandas version :  1.5.3

## 1.Working with date and time using pandas

* 1.1 **pd.date_range('any-date', periods = 10, freq ='H'):** used to provide the date and time based on the **date, freq and periods.** and have **minutes, hour, day, month and year** features.
* 1.2 **pd.date_range(start='any-date', periods = 10):** used to provide the date and time based on the **start date and periods.** and have **minutes, hour, day, month and year** features.
* 1.3 **pd.date_range(end='any-date', periods = 10):** used to provide the date and time based on the **end date and periods.** and have **minutes, hour, day, month and year** features.
* 1.4 **datetime.now():** used to provide the date and time along with **minutes, hour, day, month and year** features.

### Date and time using pd.date_range()

In [19]:
data = pd.date_range('1/1/2021', periods = 12, freq ='H')
data

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00'],
              dtype='datetime64[ns]', freq='H')

### Date and time using pd.date_range() with start & end date along with freq

In [20]:
data = pd.date_range(start ='07-01-2021', end ='07-05-2021', freq ='5H')
data

DatetimeIndex(['2021-07-01 00:00:00', '2021-07-01 05:00:00',
               '2021-07-01 10:00:00', '2021-07-01 15:00:00',
               '2021-07-01 20:00:00', '2021-07-02 01:00:00',
               '2021-07-02 06:00:00', '2021-07-02 11:00:00',
               '2021-07-02 16:00:00', '2021-07-02 21:00:00',
               '2021-07-03 02:00:00', '2021-07-03 07:00:00',
               '2021-07-03 12:00:00', '2021-07-03 17:00:00',
               '2021-07-03 22:00:00', '2021-07-04 03:00:00',
               '2021-07-04 08:00:00', '2021-07-04 13:00:00',
               '2021-07-04 18:00:00', '2021-07-04 23:00:00'],
              dtype='datetime64[ns]', freq='5H')

### Date and time using pd.date_range() with start date along with periods

In [21]:
data = pd.date_range(start ='1-1-2021', periods = 13)
data

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13'],
              dtype='datetime64[ns]', freq='D')

### Date and time using pd.date_range() with end date along with periods

In [22]:
data = pd.date_range(end ='1-1-2021', periods = 13)
data

DatetimeIndex(['2020-12-20', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-25', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31',
               '2021-01-01'],
              dtype='datetime64[ns]', freq='D')

### Date and time using datetime

In [23]:
x = datetime.now()
x.minute, x.hour, x.day, x.month, x.year

(57, 23, 11, 8, 2024)

### Break data and time into separate features

In [24]:
df = pd.DataFrame()
df['date'] = pd.date_range('17/07/2021', periods = 72, freq ='H')
df

                  date
0  2021-07-17 00:00:00
1  2021-07-17 01:00:00
2  2021-07-17 02:00:00
3  2021-07-17 03:00:00
4  2021-07-17 04:00:00
..                 ...
67 2021-07-19 19:00:00
68 2021-07-19 20:00:00
69 2021-07-19 21:00:00
70 2021-07-19 22:00:00
71 2021-07-19 23:00:00

[72 rows x 1 columns]

In [25]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute

df.head()

                 date  year  month  day  hour  minute
0 2021-07-17 00:00:00  2021      7   17     0       0
1 2021-07-17 01:00:00  2021      7   17     1       0
2 2021-07-17 02:00:00  2021      7   17     2       0
3 2021-07-17 03:00:00  2021      7   17     3       0
4 2021-07-17 04:00:00  2021      7   17     4       0

## 2.Pandas Timestamp.timestamp

* 2.1 **pd.Timestamp():** used to provide the date and time based on the **date and times given**.
    * **timestamp()** features to provide unix timestemp, from given details in pd.Timestamp().
    * **now()** features to provide current time from given details in pd.Timestamp().
    * **isoformat()** features to provide iso format time from given details in pd.Timestamp().
    * **date()** features to provide date from given details in pd.Timestamp().
    * **replace()** features to provide facility to replace the values given in pd.Timestamp().

### pd.Timestamp()

In [26]:
ts = pd.Timestamp(year = 2021,  month = 7, day = 17, hour = 10, second = 49, tz = 'US/Central')
ts

Timestamp('2021-07-17 10:00:49-0500', tz='US/Central')

### Unix timestamp using timestamp()

In [27]:
ts.timestamp()

1626534049.0

### Current time using now()

In [28]:
ts.now()

Timestamp('2024-08-11 23:57:53.681122')

### ISO format time using isoformat()

In [29]:
ts.isoformat()

'2021-07-17T10:00:49-05:00'

### Get date using date()

In [30]:
ts.date()

datetime.date(2021, 7, 17)

### Relace year using replace()

In [31]:
ts.replace(year = 2020)

Timestamp('2020-07-17 10:00:49-0500', tz='US/Central')

## 3.Pandas.to_datetime()

* 3.1 **pd.to_datetime():** used to provide the date based on given date.

In [32]:
data = pd.read_csv("dataset/todatetime.csv")
data

           Date      Time
0      8/6/1993  12:42 PM
1     3/31/1996   6:53 AM
2     4/23/1993  11:17 AM
3      3/4/2005   1:00 PM
4     1/24/1998   4:47 PM
..          ...       ...
995  11/23/2014   6:09 AM
996   1/31/1984   6:30 AM
997   5/20/2013  12:39 PM
998   4/20/2013   4:45 PM
999   5/15/2012   6:24 PM

[1000 rows x 2 columns]

### Convert date using to_datetime()

In [33]:
data["Date"]= pd.to_datetime(data["Date"])
data

          Date      Time
0   1993-08-06  12:42 PM
1   1996-03-31   6:53 AM
2   1993-04-23  11:17 AM
3   2005-03-04   1:00 PM
4   1998-01-24   4:47 PM
..         ...       ...
995 2014-11-23   6:09 AM
996 1984-01-31   6:30 AM
997 2013-05-20  12:39 PM
998 2013-04-20   4:45 PM
999 2012-05-15   6:24 PM

[1000 rows x 2 columns]

### Convert time using to_datetime()

In [34]:
data["Time"]= pd.to_datetime(data["Time"])
data

          Date                Time
0   1993-08-06 2024-08-11 12:42:00
1   1996-03-31 2024-08-11 06:53:00
2   1993-04-23 2024-08-11 11:17:00
3   2005-03-04 2024-08-11 13:00:00
4   1998-01-24 2024-08-11 16:47:00
..         ...                 ...
995 2014-11-23 2024-08-11 06:09:00
996 1984-01-31 2024-08-11 06:30:00
997 2013-05-20 2024-08-11 12:39:00
998 2013-04-20 2024-08-11 16:45:00
999 2012-05-15 2024-08-11 18:24:00

[1000 rows x 2 columns]

## Quick Recap

### 1.Working with date and time using pandas

* 1.1 **pd.date_range('any-date', periods = 10, freq ='H'):** used to provide the date and time based on the **date, freq and periods.** and have **minutes, hour, day, month and year** features.
* 1.2 **pd.date_range(start='any-date', periods = 10):** used to provide the date and time based on the **start date and periods.** and have **minutes, hour, day, month and year** features.
* 1.3 **pd.date_range(end='any-date', periods = 10):** used to provide the date and time based on the **end date and periods.** and have **minutes, hour, day, month and year** features.
* 1.4 **datetime.now():** used to provide the date and time along with **minutes, hour, day, month and year** features.


### 2.Pandas Timestamp.timestamp

* 2.1 **pd.Timestamp():** used to provide the date and time based on the **date and times given**.
    * **timestamp()** features to provide unix timestemp, from given details in pd.Timestamp().
    * **now()** features to provide current time from given details in pd.Timestamp().
    * **isoformat()** features to provide iso format time from given details in pd.Timestamp().
    * **date()** features to provide date from given details in pd.Timestamp().
    * **replace()** features to provide facility to replace the values given in pd.Timestamp().


### 3.Pandas.to_datetime()

* 3.1 **pd.to_datetime():** used to provide the date based on given time.